
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet3.css">
    <title>joke page</title>
</head>
<body>
    <div class= "button2">
        <a href="/"><button class= "btn">
            GO BACK
        </button></a>
    </div>

    <div class="title">
        <h1>#Just for fun</h1>
    </div> 

    

    <div class="welcome">
        <h1>
            Welcome!! Click below to get a fun joke..
        </h1>
    </div>

    <form action="joke">

       <center> <button >Get Joke</button></center>
    </form>
</body>
</html>