<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet3.css">
    <title>joke</title>
</head>
<body>
    <div class= "button2">
        <a href="/"><button class= "btn">
            GO BACK
        </button></a>
    </div>
    
    <div class="title">
        <h1  >#Just for fun</h1>
    </div> 
    <div class="result-div">
        <h2 class="heading">Here is your joke:</h2>
        <br>
        <h1 class="main-result">{{new_joke}}</h1>
    </div>

    <h4>Need one more?? click below</h4>
    <form action = 'joke'>
            <button  class="buttonclass" >
                One more joke.
            </button>       
    </form>
</body>
</html>